@import url('https://fonts.googleapis.com/css?family=Roboto');



* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  /* font-size: 100%; */
  font-family: "Roboto";
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0.7px;
}

body, html {color: rgb(255, 255, 255, 0.85) !important; height: 100%;  background-color:#121212; scroll-behavior: smooth; }

ul, ol { list-style: none; }
img{
  width: 325px;
  height: 325px;
}

#particles-js{
  height: 100vh;
  position: absolute;
  width: 100%;
}

.container{
  width: 100%;
  max-width: 80%;
}

header {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

section {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin:50px 0;
}


footer {
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  
}

/* header:before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 60s linear .5s infinite;
  background: linear-gradient(rgba(103,135,211, .6), rgba(144,25,166, .6));
} */

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  position: fixed;
  z-index: 9999;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  background-color: #121212;
  position: fixed;
  z-index: 9999;
}



header nav .logo { 
  color: rgb(255, 255, 255, 0.85); 
  font-size: 2em; 
  text-transform: uppercase; 
  padding: 20px 20px 10px 20px;
}

header nav .logo a { color: rgb(255, 255, 255, 0.85); }

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav li a {
  color: rgb(255, 255, 255, 0.85);
  display: block;
  position: relative;
  padding: 20px 20px 10px;
}

header nav li a:before, header nav li a:after {
  content: "";
  bottom: 0;
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: rgb(43, 173, 173);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;  
}

header nav li a:before { right: 50%; }
header nav li a:after { left: 50%; }

header nav li a:hover:before , header nav li a:hover:after {
  width: 50%;
}

.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 50vh;
  flex-direction: row;
}

.FlexContainer.header-FlexContainer{
  margin-top: 115px;
  /* background: rgb(64, 204, 185); */
padding: 20px 0px;
/* border-radius: 30px */
}

.position-image{
  z-index: 1; position: relative
}

.FlexContainer .left {
  width: 70%;
  height: 300px;
  margin: 2px;
  /* background-color: lightblue; */
  padding: 0px 20px;
}



.heading-wrapper{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.over-div{
  width: 35%;
position: absolute;
right: 0;
top: 65px;
padding: 20px;

}

.heading-one{
  font-size: 40px;
font-weight: 700;
color: rgb(255, 255, 255, 0.85);
line-height: 1.8em;
text-align: left;
}

.heading-three{
  font-size: 22px;
color: rgb(255, 255, 255, 0.70);
font-weight: 300;
line-height: 1.5em;
text-align: left;
}

.wrapper{
  display: flex;
  width: 100%;
}

.left-interest{
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 20px;
  width: 49%;
}

.interest-heading{
  /* margin: 10px 0; */
  padding: 0px 20px;
  border-left: 3px solid rgb(43, 173, 173);
}

.interest-heading h2{
  font-size: 36px;
}

.interest-heading p{
  margin: 20px 0;
  line-height: 26px;
  color: rgb(255, 255, 255, 0.70);
  
}

.right-interest{
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 20px;
  width: 51%;
}

.upper{
  display: flex;
}

.lower{
  display: flex;
}

.branding{
  display: flex;
  margin: 10px 5px;
}

.interest-icon{
  padding: 15px;
}

.interest-icon img{
  width: 30px;
  height: auto;
}

.interest-para{
  display: block;
  padding: 10px 0;
  
}

.interest-para h3{
  font-size: 28px;
}

.interest-para p{
  margin: 20px 0;
  line-height: 26px;
  color:rgb(255, 255, 255, 0.65);
}

.left-experience{
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 20px;
  width: 50%;
}

.experience-heading{
  /* margin: 10px 0; */
  padding: 0px 20px;

}

.experience-heading h2{
  font-size: 36px;
  color: rgb(246, 246, 246);

}

.experience-heading p{
  margin: 20px 0;
  line-height: 26px;
  
}

.experience-heading a{
  padding: 12px 15px;
  text-decoration: none;
  background-color: black;
  line-height: 45px;
  color: rgb(246, 246, 246);
  border-radius: 5px;
}

.right-experience{
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 20px;
  width: 50%;
  color: rgb(246, 246, 246) !important;
}


#wrapper{
  background: rgb(43, 173, 173);
  border-radius: 25px;
  display: flex;
  width: 100%;
  margin: 5px 0;
  /* height: 355px; */
}

.experience-wrapper{
  display: flex;
  flex-direction: column;
  border-left:3px solid black;
}

.experience-wrapper .experience-block{
  display: flex;
  justify-content: left;
  margin:20px 0;
  padding: 0px 20px;
}

.experience-company{
  margin: 0 30px;
  /* display: flex;
  justify-content: start; */
}

.experience-year h4{
  padding: 0 0px;
  color: black;
  font-weight: 400;
  font-size: 15px;
}

.experience-company h3{
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(246, 246, 246);
}

.experience-company p{
  font-size: 18px;
  line-height: 48px;
  color: black;
}

#education .experience-heading{
  border-left:3px solid black;
}

.experience-wrapper.education-wrapper{
  display: flex;
  flex-direction: column;
  border: none;
}

.experience-wrapper .education-block{
  display: flex;
  justify-content: left;
  margin:20px 0;
  padding: 0px 20px;
}

.social-icons{
  display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: rgb(43, 173, 173); 
  cursor: pointer;
  /* padding: 15px;  */
  border-radius: 5px; 
  color: rgb(246, 246, 246);
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
  color: rgb(246, 246, 246);
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: rgb(246, 246, 246);
  font-size: 18px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

.filter-item li:hover .overlay {
  opacity: 1;
}




@keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@-webkit-keyframes grow {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(1.6) rotate(10deg);}
}

@media only screen and (max-width: 412px) {

  header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  header nav ul { 
    width: 100%; 
    text-align: center;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
  }
}


